[Unit]
Description=ttn2influxdb - Subscribes to the MQTT broker of The Things Network and saves incoming data into InfluxDB.
Documentation=https://github.com/AngelJMC/agriot-ttn-influxdb-connector
After=network.target

[Service]
User=angel
Group=daemon
LimitNOFILE=65536
ExecStart=/opt/ttn2influxdb/bin/ttn2influxdb --dir /opt/ttn2influxdb/
KillMode=control-group
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=ttn2influxdb.service
